
/* ----------ROOT----------*/
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


:root{
    --primary-color: #bbd0b8;
    --secondary-color: #48ae75;
    --accent1-color: #3acfcf;
    --accent2-color: #1db664d7;

    --heading-font: 'Madimi One', serif;
    --paragraph-font: Verdana, serif;

    --nav-background-color: #48ae75;
    --nav-link-color: #2b2bd4;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #066710;
}

/* ----------- BODY----------*/

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding:5px;
    background: linear-gradient(gray, black);
}

/* -----------HEADINGS AND PARAGRAPH----------*/

header{
    display: grid;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

h2{
    font-size: 30px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-weight: 700;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 10px;
}

#logo{
    width: 200px;
}

p {
    padding: 25px;
    font-size: 18px;
    color:black
}
/* ----------- HERO CONTAINER----------*/
.hero{
    position: relative;
    float: right;
    padding-bottom: 50px;
}

div img{
    width: 960px;
}

h1{
    position: absolute;
    font-size: 50px;
    top:1px;
    right: 30%;
}

div p{
    color: var(--nav-hover-link-color);
}

article img{
    position: absolute;
    top: 100px;
    right: 25px;
    width: 25%;
    float: right;
}

article p{
    position: absolute;
    box-sizing: border-box;
    width: 75%;
    top: 65px;
    float: left;
}

/* ----------- HISTORY----------*/

#history{
    place-items: center; 
    text-align: center;

}
/* ----------- ADVENTURES AWAITS YOU----------*/
.container{
    display:flex;
    justify-content: space-between;
    max-width: 960px;
}

.container img{
    width: 250px;    
}

figcaption{
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
}

/* ----------- FOOTER----------*/

footer{
    background-color: var(--accent2-color);
    text-decoration: none;
    max-width: 960px;
    display: grid;
    grid-template-columns: 60% 40%;
}

footer img{
    width: 50px;
}

.sociallinks{
    background-color: var(--accent2-color);
    font-size: 1.5rem;
    display: flex;
    float: left;
    justify-content: flex-end;
}
